body {
    background: linear-gradient(50deg, #f181aa, #106ac5 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.container {
    background: #b0afb0;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 40px;
    margin-bottom: 1.5rem;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.timer {
    font-size: 40px;
    background: rgb(251, 206, 206);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.timer span {
    width: 110px;
    display: inline-block;
    text-align: center;
}

.controls {
    display: flex;
    gap: 2.5rem;
}

button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background: #0f5472;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background: #f082b2;
}

.lap-title {
    font-size: 1.5rem;
}

.laps {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 200px;
    background: rgb(133, 172, 219);
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

li {
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
}

li:last-child {
    border-bottom: none;
}

.li span {
    font-weight: 700;
}

.attribution {
    margin-top: 40px;
    margin-left: 250px;
    font-size: 0.8rem;
    color: #460ad4;
    font-weight: 900;
}

@media (max-width: 600px) {
    .timer {
        font-size: 30px;
        padding: 15px;
    }

    .title {
        font-size: 30px;
    }

    button {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }
}
